.shapeBox {
    background-color: darkcyan;
    height: 600px;
    width: 600px;
    margin: 0 auto;

}

.sidePanel {
    background-color: cadetblue;
    height: 400px;
    width: 300px;
}

form {
    margin-top: 3em;
    margin-bottom: 3em;
}

#container {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    
}

#rectangle {
	background: red;
}

#circle {
    position: relative;
    text-align: center;
    transform: translateY(-50%);
	background: red;
}

#triangle {
	width: 0;
	height: 0;
	border-bottom: solid red;
	border-right: solid transparent;
}

#square {
	background: red;
}
